* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.container {
    height: 100vh;
    background: black;
    position: relative;
    color: #fff;
}


.box1 {
    position: fixed;
    background: red;
    width: 100px;
    height: 100px;
    top: 0px;
    z-index: 1  ;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* transform: translateX(-50%) */
}

.box2 {
    background: green;
    width: 100px;
    height: 100px;
    top: 0;
    left: 20px;
    position: fixed;
    z-index: 3;
}

.content {
    background: blue;
    width: 300px;
    height: 300px;
    overflow-y: auto;
    min-width: 250px;
}

.boxes {
    background: #fff;

    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes .box {
    width: 25%;
    min-width: 150px;
    height: 100px;
    background: red;
}

.boxes span {
    color: #000;
    font-size: 30px;
    position: relative;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.boxes span:hover {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

/* .boxes span::after {
    content: 'A';
    background: red;
    width: 0;
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: .3s ease-in-out;
    opacity: 1;
} */

/* .boxes span:hover::after {
    content: 'A';
    transition: width .3s linear;
}
 */

.ab, .bc {
    width: 100px;
    height: 100px;
}

/* .ab {
    background: red;
    display: none;
    visibility: hidden;
} */

.bc {
    /* background: green; */
    opacity: 1;
    animation: fadeIn 3s infinite;
    border: 3px solid red;
    border-bottom: 3px solid green;
    border-radius: 50%;
}

@keyframes fadeIn {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

button:hover {
    background: green;
}

button:active {
    background: red;
}

.content::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  


.content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px red;
    border-radius: 10px;
}
  


.content::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}
  

.content::-webkit-scrollbar-thumb:hover {
    background: grey
}
 